* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}
.navbar,
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar {
  width: 100%;
  background-color: bisque;
}
.logo a {
  text-decoration: none;
}
.navbar-list {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
